{% load bootstrap5 %}
{% load jformat %}
<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8" >
    <title>    آموزش منطقه  </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
   
</head>


<body >
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

   
    <h2 dir='rtl'>   آموزش منطقه  </h2>
    <center>
        <div dir='rtl' class="row-1" >
            <div  dir='rtl' class="col-11" >
                <div dir='rtl' class="card-body">
            
                    <form  dir='rtl' method="get" >
   
                        <button dir="rtl" class="btn  btn-warning"   type="submit" > جستجو </button>
                        
                            {{ hom.form.as_table }} 

                    </form>
   
                    <table  class="table table-sm"> 

                            
                        <tr>
                            
                            <th>نام       </th>
                            <th>نام خانوادگی  </th>
                            <th>کد ملی  </th>
                            <th>شماره موبایل  </th>
                            <th>شعبه  </th>
                         
                            <th> عکس کارت ملی  </th>
                            <th>تایید فعال سازی اپ  </th>
                            <th> تعداد پیگیری   </th>
                            <th> اولین پیگیری   </th>
                            <th> آخرین پیگیری   </th> 
                            <th> آخرین تاریخ پیگیری   </th>
                            <th>  مسئول جذب  </th>
                            <th>   تایید فعال سازی اپ  </th>

                        </tr>
                        <tr>
                            {% for ff in hom.qs %}

                            <th>{{ ff.name }}  </th>
                            <th>{{ ff.family }}  </th>
                            <td><a   href= "/regionalEduDetail/{{ff.id}}"  class="btn btn-success">{{ ff.nationalCode }}</a></td>
                            <th>{{ff.phone_number}}  </th>
                            <th>{{ff.branch}}  </th>

                            {% if ff.nationalCodeAttach %}
                            <th> <img src="{{ff.nationalCodeAttach.url}}" style="max-width: 150px" alt=""> </th>
                            {% else %}
                            <th>ندارد</th>
                            {% endif %}
        
                            <th>{{ff.confirmAbsrob}}  </th>
                            <th> {{ ff.comments.count }}    </th>
                            <th>   {{ ff.comments.first.Comment_follow }} </th>
                            <th>   {{ ff.comments.last.Comment_follow }} </th>
                            <th>   {{ ff.comments.last.created_follow |jformat}} </th>
                            <th> {{ ff.absrobResponse}}  </th>


                            <th> {{ ff.confirmAbsrob}}  </th>
                        </tr>
                    
                            {% endfor %}

              
   

                            <h3>  

                    </table>   
    
                </div>             
            </div>
        </div>

    </center>
    <h1>    </h1>



   
   <a href ='/'  >  &larr;  بازگشت </a>

</body>

</html>







